@page "/"
@page "/search/{searchText}/{page:int}"
@page "/{categoryUrl}"
@inject IProductService ProductService
@*@implements IDisposable*@


<PageTitle>Miami Pizza - so good, so tasty. Order now and be happy!</PageTitle>

@if(SearchText == null && CategoryUrl == null)
{
    <div>
        <FeaturedProducts />
    </div>
    <div>
        <ProductList />
    </div>
}

else
{
    <ProductList />
}

@code{
    [Parameter]
    public string? CategoryUrl { get; set; } = null;

    [Parameter]
    public string? SearchText { get; set; } = null;
    [Parameter]
    public int Page { get; set; } = 1;

    protected override async Task OnParametersSetAsync()
    {
        if (SearchText != null)
        {
            await ProductService.SearchProducts(SearchText, Page);
        }
        else
        {
            if(CategoryUrl != null)
            {
                await ProductService.GetProducts(CategoryUrl); 
            }
            else
            {
                await ProductService.GetAllProducts();
            }
        }
    }
}
