@inject AuthenticationStateProvider authStateProvider
@using System.Security.Claims

@if(authorized)
{
    <a class="dropdown-item" href="admin/categories">Категории</a>
    <a />
    <a class="dropdown-item" href="admin/product-types">Типы продуктов</a>
    <a />
    <a class="dropdown-item" href="admin/products">Продукты</a>
    <hr/>
}

@code {
    bool authorized = false;

    protected override async Task OnInitializedAsync()
    {
        string role = (await authStateProvider.GetAuthenticationStateAsync())
        .User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role).Value;
        if(role.Contains("Admin"))
        {
            authorized = true;
        }
    }
}
